name: Release
on:
  push:
    branches:
      - main
    paths:
      - 'packages/fastify-renderer/package.json'
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/ci.yml
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/setup-test-env
      - name: Build all packages
        run: yarn build
      - id: npm-publish
        name: Publish fastify-renderer
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./packages/fastify-renderer/package.json
          access: public
      - name: Publish Release to github
        uses: "marvinpinto/action-automatic-releases@latest"
        if: ${{ steps.npm-publish.outputs.type != 'none' }}
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          automatic_release_tag: ${{ steps.npm-publish.outputs.version }}